.vape-window {
    width: 220px;
    position: fixed;
    display: flex;
    flex: auto, 220px, auto;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 0 black;
    background-color: rgba(20, 20, 20);
    border: 1px solid rgb(27, 42, 53);

    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.vape-logo-set{
    float:left;
    padding: 9px;
}

.gray-back {
    background-color: rgb(26, 25, 26);
}

.menu-icon {
    filter: brightness(calc(160/255));
    width: 14px;
    height: 14px;
    padding-right: 6px;
}

hr {
    display: block;
    height: 1px;
    background-color: #252525;
    width: 100%;
    margin: 0px;
    border: 0px;
    border-style: solid;
}

.extras-menu {
    height: 40px;
    display: flex;
    align-items: center;
}

.extra-button {
    filter: brightness(calc(199/255));
    width: 12px;
    height: 10px;
    left: calc(100% - 23px);
    position: absolute;
}

.menu-item {
    height: 40px;
    width: 100%;
    text-align: left;
    margin: 0px;
    color: rgb(160, 160, 160);
    font-size: 14px;
    
    background-color: rgba(0, 0, 0, 0);
    
    display: flex;
    align-items: center;
    border: 0px;
    
    padding-left: 9px;

    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    cursor: pointer;
}

.misc-holder {
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 9px;
    color: rgb(85, 84, 85);
    font-size: 14px;
    
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}